
@{
    ViewBag.Title = "Corps Member Experience";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<head>
    <style>
        .graph {
            margin-left: 300px;
        }
    </style>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table. 1
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Corp Member Experience');
            data.addColumn('number', 'Value');
            data.addRows([
                ['AmeriCorps Retention', 3],
                ['ACM Net Promoter Score', 1],
                ['Team Leaders', 1],
                ['2nd Year ACM', 1],
            ]);
            // Set chart options 1
            var options = {
                'title': 'CORP MEMBER EXPERIENCE',
                'width': 600,
                'height': 400
            };
            // Instantiate and draw our chart, passing in some options.

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    </script>
</head>

<body>
    <center><h2>Corps Member Experience</h2></center>
    <!--Divs that will hold the charts-->
    <br />
    <div class="graph">
    <table class="columns" style="margin-left:12%">
        <tr>
            <td><div id="chart_div" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>
        </div>
</body>

