
@{
    ViewBag.Title = "Revenue";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<head>
    <style>
        .graph {
            margin-left: 300px;
        }
    </style>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            //table 4
            var data4 = new google.visualization.arrayToDataTable([
                ['Goal', 'Category'],
                ['Revenue Goal', 11],
                ['Key Constituent Giving Rates', 2],
                ['Donor Retention Rate', 2],
                ['Number of Donors', 2],
            ]);

            //options 4
            var options4 = {
                title: 'Revenue',
                pieHole: 0.4,
                'width': 400,
                'height': 300
            };


            var chart4 = new google.visualization.PieChart(document.getElementById('chart_div4'));
            chart4.draw(data4, options4);
        }

    </script>
</head>

<body>
    <!--Divs that will hold the charts-->
    <center><h2>Revenue</h2></center>
    <br />
    <div class="graph">
    <table class="columns" style="margin-left:12%">
        <tr>
            <td><div id="chart_div4" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>
</div>

</body>

