@model IEnumerable<CYJ.Models.ABOUT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<h2 class="aboutheader" style="color:white">ABOUT</h2>
<br />
<p>
    @Html.ActionLink("Create New Post", "Create")
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AboutInfo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AboutID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AboutID })
            </td>
        </tr>
    }

</table>
