@model IEnumerable<CYJ.Models.GOAL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Goals</h2>

<p>
    @Html.ActionLink("Create a new goal", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.goalName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.goalName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.goalID })
        </td>
    </tr>
}

</table>
