
@model DotNet.Highcharts.Highcharts

@{
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">





</head>
<body>

    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" style="BACKGROUND-COLOR:#BCC65C">
                    <h4 class="title">OPERATIONS & EXPENSES</h4>

                </div>
                <div class="card-content">
                    <div class="row">
                        <div>

                            <div class="col-md-12 col-md-6">
                                @(Model)
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

                </div>
            </div>
        </div>
    </div>
</body>
